*{
  padding: 0;
  font-family: sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
nav{
  background-color:rgb(249, 56, 56);
  color: white;
  width: 100%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 10px;
}
.navbar h1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn{
  background-color: white;
}
.btn input{
  padding: 5px;
  border: none;
  outline: none;
}
.btn button{
  border: none;
  padding: 5px;
  background-color: transparent;
}
.ap{
  border: 1px solid rgb(249, 56, 56);
  width: 170px;
  height:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.ap:hover{
  box-shadow: 0 0  15px rgb(41, 41, 41) ;

}
.ap button{
  width: 170px;
  border: none;
  color: white;
  background-color:rgb(249, 56, 56) ;
  padding: 10px;

} 
.green{
  padding: 15px ;
  background-color: green;
  border-radius: 50%;
  border: none;
  outline: none;
}
.blue{
  background: rgb(170, 170, 199);
  padding: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
}
.yellow{
  background: yellow;
  padding: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
}